<%- include("partials/header") -%>
      <div style="text-align:center; padding:100px; background-color:inherit;">
        <h1><%=name%></h1>
        <p><%=email%></p>
        <p><%=subject%></p>
        <p><%=message%></p>
      </div>

<%- include("partials/footer") -%>
